@page
@model MascotaEpets.app.Presentacion.Pages.BuscarPropietarioModel
@{
}
<div class="row">
    <div class="col-lg col-md col">
        <div class="card">
            <div class="card-header bg-dark bg-gradient text-light">
              <h2>Propietarios Por ID</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Email</th>
                            <th>Cant Mascotas</th>
                            
                        </tr>
                    </thead>
                    <tbody>   
                             <tr>
                                    <td>
                                        @Model.propietario.Id
                                    </td>
                                    <td>
                                        @Model.propietario.Nombres
                                    </td>
                                    <td>
                                        @Model.propietario.Apellidos
                                    </td>
                                    <td>
                                        @Model.propietario.Cedula
                                    </td>
                                    <td>
                                        @Model.propietario.Telefono
                                    </td>
                                    <td>
                                        @Model.propietario.Direccion
                                    </td>
                                    <td>
                                        @Model.propietario.Email
                                    </td>
                                    <td>
                                        @Model.propietario.CantidadMascota
                                    </td>
                                    
                                    <td>
                                       <a asp-page="./ListaPropietarios" class="btn btn-primary">Regresar</a>
                                    </td> 
                                    
                                </tr>
                              
                    </tbody>
                    
                </table>

            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    
</div>