@page
@model MascotaEpets.app.Presentacion.Pages.ListaPropietariosModel
@{
}

<div class="row">
    <div class="col-lg col-md col">
        <div class="card">
            <div class="card-header bg-dark bg-gradient text-light">
              <h3>Lista de Propietarios</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Email</th>
                            <th>Mascotas</th>
                        </tr>
                    </thead>
                    <tbody>
                         @foreach (var item in Model.Propietarios)
                              {  
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Nombres
                                    </td>
                                    <td>
                                        @item.Apellidos
                                    </td>
                                    <td>
                                        @item.Cedula
                                    </td>
                                    <td>
                                        @item.Telefono
                                    </td>
                                    <td>
                                        @item.Direccion
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.CantidadMascota
                                    </td>
                                    <td>
                                       <a class="btn btn-primary table-btn" asp-page="./BuscarPropietario" asp-route-IdPropietario="@item.Id"><img src="~/img/buscar.png" width="24"  class="img"/>Buscar</a>
                                    </td> 
                                    <td>
                                       <a class="btn btn-warning table-btn" asp-page="./ActualizarPropietario" asp-route-IdPropietario="@item.Id"><img src="~/img/ActualizarRegistro.png" width="24" title="Actualizar Registro" class="img"/>Editar</a>
                                    </td> 
                                    <td>
                                       <a class="btn btn-success table-btn" asp-page="./IngresarPropietarios" ><img src="~/img/solicitud.png" width="24"  class="img"/>Ingresar</a>
                                    </td>
                                     <td>
                                       <a class="btn btn-danger table-btn" asp-page="" ><img src="~/img/eliminar.png" width="24"  class="img"/>Eliminar</a>
                                    </td> 
                                </tr>
                              }
                    </tbody>
                    
                </table>

            </div>
            <div class="card bg-dark bg-gradient text-light">
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    
</div>