@page
@model MascotaEpets.app.Presentacion.Pages.BuscarMedicoModel
@{
}

<div class="row">
    <div class="col-lg col-md col">
        <div class="card">
            <div class="card-header bg-dark bg-gradient text-light">
              <h2>Datos Personales del Medico</h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Tarjeta Profesional</th>
                        </tr>
                    </thead>
                    <tbody>   
                             <tr>
                                    <td>
                                        @Model.medico.Id
                                    </td>
                                    <td>
                                        @Model.medico.Nombres
                                    </td>
                                    <td>
                                        @Model.medico.Apellidos
                                    </td>
                                    <td>
                                        @Model.medico.Cedula
                                    </td>
                                    <td>
                                        @Model.medico.Telefono
                                    </td>
                                    <td>
                                        @Model.medico.TarjetaProfesional
                                    </td>
                                    <td>
                                       <a asp-page="./ListadoMedicos" class="btn btn-primary">Regresar</a>
                                    </td> 
                                    
                                </tr>
                    </tbody>
                </table>
            </div>
            <div class="card bg-dark bg-gradient text-light">
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    
</div>