@page
@model MascotaEpets.app.Presentacion.Pages.ListadoMedicosModel
@{
}
<div id="Principal" style="width: 100%;display: table;">
<div id="Celda2" style=" border: beige 1px solid;width: 100%;display: table-cell">
    <h1>Listado de Medicos</h1>
<table clase="table">
            @foreach (var item in Model.Medicos)
            {
            <tr>
                <td>
                      @item.IdMedico
                </td>
                    <td>
                        @item.Nombres
                    </td>
                    <td>
                        @item.Apellidos
                    </td>
                    <td>
                        @item.TarjetaProfesional
                    </td>
                    <td>
                       <a class="btn btn-primary table-btn" asp-page="./BuscarMedico" asp-route-IdMedico="@item.IdMedico">Buscar Medico</a>
                    </td> 
                    <td>
                       <a class="btn btn-primary table-btn" asp-page="./ActualizarMedicos" asp-route-IdMedico="@item.IdMedico">Actualizar Medicos</a>
                    </td> 
                     <td>
                       <a class="btn btn-primary table-btn" asp-page="./IngresarMedico" >Ingresar Medico</a>
                    </td> 
                    <td>
                        <img src="~/img/update.png" width="40px" onclick="CargarActualizar('@item.Nombres');">
                    </td>
            </tr>
            }            
</table>
</div>
</div>

<script>
   /* function MensajeEliminar(){

    confirm("¿Estas Seguro de Eliminar el registro? ");


    function MensajeActualizar(){

      confirm("¿Estas Seguro de Actualizar el registro? ");

    }
}

    function LimpiarDatos(){

        $("#Nombre").val('');
        $("#btnIngresar").css('display','block');
        $("#btnActualizar").css('display','none');
    }

     function CargarActualizar(){

        $("#Nombre").val(Nombre);
        $("#Tarjeta").val('');
        $("#btnIngresar").css('display','none');
        $("#btnActualizar").css('display','block');
    }*/
</script>

