@page
@model MascotaEpets.app.Presentacion.Pages.ListadoMedicosModel
@{
}
<div class="row">
    <div class="col-lg col-md col">
        <div class="card">
            <div class="card-header bg-dark bg-gradient text-light">
              <h3>Lista de Medicos</h>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Tarjeta Profesional</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                         @foreach (var item in Model.Medicos)
                              {  
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Nombres
                                    </td>
                                    <td>
                                        @item.Apellidos
                                    </td>
                                    <td>
                                        @item.Cedula
                                    </td>
                                    <td>
                                        @item.Telefono
                                    </td>
                                    <td>
                                        @item.TarjetaProfesional
                                    </td>
                                    
                                    <td>
                                       <a class="btn btn-primary table-btn" asp-page="./BuscarMedico" asp-route-IdMedico="@item.Id"><img src="~/img/buscar.png" width="24"  class="img"/>Buscar</a>
                                    </td> 
                                    <td>
                                       <a class="btn btn-warning table-btn" asp-page="./ActualizarMedicos" asp-route-IdMedico="@item.Id"><img src="~/img/ActualizarRegistro.png" width="24" title="Actualizar Registro" class="img"/>Editar</a>
                                    </td> 
                                    <td>
                                       <a class="btn btn-success table-btn" asp-page="./IngresarMedico" ><img src="~/img/solicitud.png" width="24"  class="img"/>Ingresar</a>
                                    </td> 
                                    <td>
                                       <a class="btn btn-danger table-btn" asp-page="" ><img src="~/img/eliminar.png" width="24"  class="img"/>Eliminar</a>
                                    </td> 
                                </tr>
                              }
                    </tbody>
                    
                </table>

            </div>
            <div class="card bg-dark bg-gradient text-light">
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    
</div>
<script>
   /* function MensajeEliminar(){

    confirm("¿Estas Seguro de Eliminar el registro? ");


    function MensajeActualizar(){

      confirm("¿Estas Seguro de Actualizar el registro? ");

    }
}

    function LimpiarDatos(){

        $("#Nombre").val('');
        $("#btnIngresar").css('display','block');
        $("#btnActualizar").css('display','none');
    }

     function CargarActualizar(){

        $("#Nombre").val(Nombre);
        $("#Tarjeta").val('');
        $("#btnIngresar").css('display','none');
        $("#btnActualizar").css('display','block');
    }*/
</script>

